@charset "UTF-8";

body{
   font-family: 'Hiragino Kaku Gothic Pro','Meiryo',sans-serif;
   font-size: 15px;
   border-top: 10px solid #79a1b1 !important; 
}
a {
  text-decoration: none;
  color: #333;
}

.logo h1{
  font-size: 45px; 
  font-family: serif;
}

.logo{
    text-align:center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.logo img{
    display: inline-block;  
}
.winner{
 width: 1200px;
 margin: 0 auto; 
 
}
.header ul{
    display: flex;
    margin-bottom: 30px;
}
.header ul li{
    width: 200px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.header ul li:first-child{
    border-left: 1px solid #ddd;
}
.header ul li a{
    display: block;
}
.header_img{
    text-align: center;
}
.header_img img{
   display: inline-block;
}
.service_block {
   display: flex;
   justify-content: space-between;
}
.service {
    width: 380px;
    text-align: center;
 }
 
.contents_service h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.container_service .service img{
    margin-bottom: 20px;    
}
.container_service.ttl{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.container_service .seevice .explain{
    margin-bottom: 20px;
}
.service_block a {
   background: #769aa8;
   color: #fff;
   padding: 5px 7px 3px; 
   /*margin: 50px;*/
}
.sentence{
    padding-bottom: 30px;
}


.footer{
    margin-top: 40px;
}

.pp_link{
    text-align: right;
}
.copy{
    text-align: center;
    background: #79a1b1;
    color: #fff;
    font-size: 12px;
    padding: 7px 0 3px;
}






